$red: #F00;

body{
  background-color: $red;
}

/*@mixin setpos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

  .boks1 {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    background-color: #1a398d;
    padding: 10px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    border-radius: 30px;
  }

  .items {
    background-color: #1a398d;
    padding: 10px;
    color: #ffffff;
  }

  .items1 {
    border-color: #ffffff;
    border-style: solid;
    margin: 0 20px;
    padding: 10px 50px;
    background-color: #1a398d;
    color: #ffffff;
    width: 478px;
    height: 50px;
    border-radius: 30px;
  }

  .items2 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .items3 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .items4 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .items5 {
    border-color: #ffffff;
    border-style: solid;
    padding: 10px;
    margin: 0 20px;
    background-color: #1a398d;
    width: 478px;
    height: 50px;
    color: #ffffff;
    border-radius: 30px;
  }

  a {
    color: white;
  }

  .items6 {
    p {
      @include setpos(100, 19);
    }

    border-color: black;
    border-style: solid;
    padding: 13px;
    margin: 0 20px;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    font-family: "Helvetica Neue";
  }

  a1 {
    color: black;
  }

  .footer {
    p {
      @include setpos(550, 19);
    }

    display: flex;
    justify-content: center;
    margin: 0 20px;
    background-color: #1a398d;
    padding: 10px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    border-radius: 30px;
  }

  .foot1 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .foot2 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .foot3 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .foot4 {
    background-color: #1a398d;
    margin: 0 20px;
    padding: 10px;
    width: 478px;
    height: 50px;
    color: #ffffff;
  }

  .foot5 {
    background-color: #1a398d;
    padding: 10px;
    color: #ffffff;
  }
}
 */